@media only all and (min-width: 576px){
    .hide{
        display: inherit;
    }
   
    .sticky{
        display: flex;
    }
  body {
      background-color: transparent;
  }
     html{
    
    
    margin: 0 auto;
  } 
  #button-menu{
      display:none;
  } 
  #body-main {
    /* width: 999px; */
  width: 100vw;
  margin: 0 auto;
 /*  background-color: rgba(246, 66, 66,1);
  color: white; */
  background-color: transparent;
  color:rgba(246, 66, 66,1);
 }
    header{
        
      /*   color:rgba(246, 66, 66,1); */
        color:white;
        width: 100vw;
        height: 100vh;
         /* max-width: 920px; */
        margin:  0 0 0 auto;
        border:  1px dotted rgba(0, 0, 0, 0.7);
      /*   background:url("../img/background-white.jpg");
        background-size: cover;
        background-repeat: no-repeat; */
     
        background-color: transparent;
        
       
       
        
        /* background: -webkit-linear-gradient(90deg, rgb(10, 27, 43), rgb(20, 55, 90));
        background: linear-gradient(90deg, rgb(10, 27, 43), rgb(20, 55, 90)); */
        

       /*  border-radius:  0 0 0 40%; */ 
      
    }
    #particles-js{
        display:initial;
        position: absolute;
         background-image: url("../img/photo_header3.jpg");
      
        width:100vw;
       height:100vh;
   
       margin: 0 auto; 
         background-repeat: no-repeat; 
        background-size: cover; 
   
       
    }
    
    #header-main{
        position:absolute;
        order:2;
        width: 100vw;
        height:100vh;
        
    }
    .header-576up{
        display:flex;
         flex-direction: column; 
     /*   width: 100px; */
        /* height: 400px; */
       position: absolute;
       top: 0vh;
       left:85vw;
       z-index: 1000;
       background-color: rgba(255, 255, 255,0.1); 
       color:black;
       /*  display:flex;
        position: absolute;
        justify-content: space-evenly;
        align-items: flex-start;
         width:40vw;
    
        height:20vh;
       
        margin: 0 auto;
        flex-wrap: wrap;
        transition: left 1s;
        left:18vw;
        top: 0vh;
        color:white; 
        background-color: transparent;
        order:1; */
        /* background: linear-gradient(90deg, rgba(10, 27, 43,0.5), rgba(20, 55, 90,0.5)); */
    }
     .header-576up.sticky{
         display:flex;
         /* flex-direction: column; */
      /*   width: 100px; */
         height: 400px;
        position: fixed;
        top: 0vh;
        left:85vw;
        z-index: 1000;
      
        
       
    }
    #header-576up.sticky .button-menu--round.small h2{ 
        color: #f64242b3;
        border-color:  rgba(246, 66, 66,0.7);
        background-color: rgba(246, 66, 66,1);
        cursor: pointer;
        z-index: 1000;
      
    }
    #header-576up.sticky .button-menu--round.small h2 A{ 
        color: rgba(255, 255, 255, 1);
        z-index: 1000;
        cursor: pointer;
      
    }
    
    #box-main{
        display:flex;
        position: absolute;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        width:60vw;
        height: 20vh;
        margin: 0 auto;
        top: 10vh;
        left:0vw;
        z-index:1000;
    }
 /*    #box-main h2{
       
        
    } */
     #title-main{
        display:block;
        z-index: 100;
       /*  left:35vw;
        top: 20vh; */
        letter-spacing: 0.1em;
        width: 40%;
        margin: 1em 0 4em 0;
        padding-top:3em;

        background-color: rgba(11, 11, 219, 0.5);
        
     }
     #title-main h1{
         position: relative;
         left:1em;
        padding-top:0.5em;
        padding-left: 0.5em;
        letter-spacing: 0.2em;
    }
    .title-header{
        font-size: 4.5em;
        text-align: center;
        background-color: rgba(11, 11, 219, 0.5);
      /*   position:absolute; */
    }
    #box-message1 {
        /* background-color: rgba(255, 255, 255,1); */
         margin: 5em 0 1em 10em;
        padding: 0 0.5em 0.5em 0;
        width:60%;
        
    }
    #box-message2 {
       /*  background-color: rgba(255, 255, 255,1); */
        margin: 1em 2em 0 0;
        padding: 0 0.5em 0.5em 0;
        width:80%; 
    }
    #message-main1{
        display: flex;
        justify-content: center;
        font-size:1.2em;
        letter-spacing: 0.4em;
        font-weight: 300;
        text-align: center;
         background-color: rgba(255, 255, 255,1);
        color:black;
        width: 100%;
        margin: 0 0 0 1em;
       
       /*  left:25vw;
        top: 40vh; */
    }
    #message-main2{
        display:flex;
        justify-content: center;
        font-size:1.2em;
        letter-spacing: 0.4em;
        text-align: center;
        background-color: rgba(255, 255, 255,1);
        color:black;
        font-weight: 300;
        width: 100%;
        margin: 0 0 0 1em;
       
      /*   background-color: rgba(11, 11, 219, 0.678); */
       /*  left:20vw;
        top: 50vh; */
    }
    #banner-header{
        display: flex;
        position: absolute;
        justify-content: space-around;
        flex-wrap: wrap;
        align-items: center;
        font-size:1.5em;
        width: 50vw;
        margin: 0 auto;
        height: 20vh;
        letter-spacing: 0.3em;
        left:0vw;
        top: 70vh;
        flex-wrap: wrap;
   /*      background-color: rgba(246, 66, 66,1); */
   background-color: #E83424;
    }
    #message-main3{
      flex:50%;
    }
    #button-header{
        position: relative;
        top: 0.5em;
        text-align:center;
        background-color: transparent;
        color:white;
        border-color: white;
        border-radius: 10px;
     /*    justify-self: center; */
        width: 300px;
        border: 4px solid white;
        background-color: rgb(255, 255, 255,0.1);
        padding:1em;
        margin: 1em;
    }
    
    #section-search{
        position: absolute;
        top:-100vh;
        left:45vw;
        opacity: 0.8;
    }
    #section-search input{
        width:90%;
    }
    #title-phone{
        display: none;
    }
    #title-second-color{
       /*  display:block;*/
        position: relative; 
        /* transform: rotate(25deg); */
        color:rgba(246, 66, 66,1);
        font-size: 1.4em;
        letter-spacing: 0;
        filter: grayscale(30%);
        text-transform: lowercase;
 /*        background-color: rgba(11, 11, 219, 0.5); */
    }
    .box-icons{
        display:none;
    }
   
    .button-menu--round.small h2 {
        display:flex;
        /* color: rgba(255, 255, 255, 0.7); */
        
  /*       border-color: rgba(255, 255, 255, 0.7); */
  border-color: black;
        margin-top:1.5em;
        min-width: 6rem;
        min-height: 6rem;
        border-width: 2px;
        font-size: 0.9rem;
        background-color: rgba(255, 255, 255,1); 
    
        opacity:1;
    }
    .button-menu--round.small h2 a{
        /* color: rgba(255, 255, 255, 0.7); */
        color:black;
    }
   #menu-main{
       background-color: transparent;
   } 
   .section{
       background-color: transparent;
   }
   #button-sticky-infos .transition h2{
    color:  rgba(246, 66, 66,1);
    background-color: rgba(255, 255, 255,1);
    border-color: rgba(246, 66, 66,1);
   }
   
     
      /* background-image: url("../img/asbl.jpg");
      background-size: cover;
      background-repeat: no-repeat; */
  
 
   
    .menu-main {
        display:flex;
         width: 65vw; 
        /* max-width: 920px; */
        margin:  0 auto;
        color:black;
        /* border: 1px solid black; */
       /*  background-color: white; */
       /*  background-image: url("../img/untitled-848-11541529706374dcaihywbkg.jpg");
        background-size: cover;
        background-repeat: no-repeat; */
    }
    .button-menu--round h2{
        display: none;
        background-color: rgba(255, 255, 255);
        margin: 2em auto;
        color: rgba(0, 0, 0, 0.7);

    }
    /* #button-about{order:2;}
    #section-about{order:3;}
    #button-doc{order:4;}
    #section-doc{order:5;}
    #button-infos{order:6;}
    #section-infos{order:7;}
    #button-contact{order:8;}
    #section-contact{order:9; */
/*     #section-search{
    position: absolute;
    top:-40vh;
    left:35vh;
} */

    #section-aside{
        top:10vh;
        left: -250px;
        height:100vh;
        width: 20vw;
        min-width: 250px;
        max-width: 250px;
        filter: grayscale(0%);
        /*  background: linear-gradient(90deg, rgba(255, 255, 255,0.2), rgba(89, 104, 105,0.2));background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0.1)); */
        background-color:transparent;


        /*  background-image:url("../img/background-image1.jpeg");
         background-size: cover;
         background-repeat: no-repeat; */
    }
  
    #button-menu-aside{
        display:none;

    }
    .button-menu-aside{
        display:none;
    }
    #section-main {
       
        width: 80vw;
        margin: 0 auto;
        z-index: -1;
    }
    .button{
        width: 20vw;
        min-width: 150px;
        max-width: 250px;
    }
    .box-title{
        width: 60vw;
    }
   /*  #button-menu-aside{
        width: 20vw;
        min-width: 100px;
        max-width: 160px;
    }  */
   .button.button-sousmenu-aside{
        margin-left:0;
        min-width: 100px;
        max-width: 120px;
        border-bottom: 1px solid black;
        border-radius: 0;
    }
    .button-sousmenu-aside:hover{
        margin-left:5px;
    }
   
}