/*Animations slide menu*/
 .menu-main.transition {
    position: absolute;
    top: 0vh;
    color: black;
    animation-name: transition;
    animation-duration: 0.3s;
    animation-iteration-count:1;
    animation-delay:0s;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-timing-function: linear;  
}  

@-webkit-keyframes transition {
    0% {left: -100vw;}
    100%{left:0vw}
}
#header-main{
    position: relative;
    top:0;
    left:0;
    transition: top 0.3s, color 0.3s;
}
#header-main.transition{
    top:-50vh;
    color:  rgba(246, 66, 66,1);
}

/*  .button-menu--round{
    top:0;
    left:0;
    z-index:1000;
    transition: top 0.3s 0.3s, left 0.3s 0.3s;
} */
/* .button-menu--round.transition{
    top:0vh;
    left:30vw;
} */
 #button-menu-aside.transition:after{
    transform: rotate(180deg);
} 
#button-infos.sticky h2{
    position: fixed;
    top:70px;
    left:15px;
    min-width: 3.5rem;
    min-height: 3.5rem;
    border-width : 2px;
    font-size : 1rem;
    z-index:1000;
}
.button-menu--round.transition h2{
    background-color: rgba(246, 66, 66,1);

}   

.button-menu--round.relative h2{
    position: relative;
    top:0;
    left:0;
}
  
 
#body-main{
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}
#body-main.transition{
    background-color: white;
    color: rgba(246, 66, 66,1);
}

/*Animations slide menu-aside*/

 #section-aside.transition{
    left: 0;
}

/* div {
    transition: <property> <duration> <timing-function> <delay>;
  } */