/*Animations slide menu*/
/* .menu-main{
    position: relative;
    top:0;
    left:0;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
}
.menu-main.transition {
    top: -100vh;
  
} */
#menu-main{
    position: relative;
    top:0;
    left:0;
    -webkit-transition: top 0.3s;
    transition: top 1s, color 1s;
    
}
.menu-main.transition {
    top: 0vh;
    color: black; 
}
#header-main{
    position: relative;
    top:0;
    left:0;
    transition: top 0.3s, color 0.3s;
}
#header-main.transition{
    top:-50vh;
    color:  rgba(246, 66, 66,1);
}

 .button-menu--round{
   /*  position: fixed; */
    top:0;
    left:0;
    z-index:1000;
    transition: top 0.3s 0.3s, left 0.3s 0.3s;
}
.button-menu--round.transition{
    top:0vh;
    left:30vw;
}
/* .section{
    position: relative;
    top:0;
    left:0;
    color:black;
    transition: top 0.5s 3s;
}
.section.transition{
    top:0;
} */
  .button-menu-round h2{
    background-color: rgba(246, 66, 66,0.5);
     filter: grayscale(30%);
    transition: background-color 1s; 
}
.button-menu--round.transition h2{
    background-color: rgba(246, 66, 66,1);
}     
 
#body-main{
    transition: background-color 0.5s ease-in, color 0.5s ease-in;
}
#body-main.transition{
    background-color: white;
    color: rgba(246, 66, 66,1);
}

/*Animations slide menu-aside*/

#section-aside {
    position: fixed;
    top: 90px;
    left:-250px;
    transition: left 0.3s ease-in;
}
 #section-aside.transition{
    left: 0px;
}

/* div {
    transition: <property> <duration> <timing-function> <delay>;
  } */