html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
 
.hide {
    display:none;
}
.fixed {
    position: fixed;
}
p {
    margin-top: 1.5em;
}
/* .absolute{
    position: absolute;
}
.relative {
    position: relative;
} */

#body-main {
    color: white;
    background-color: rgba(246, 66, 66,1);
   /*  height:100vh; */
}
/* HEADER */
header {
    color:white;
}
#message-main1{
    display:none;
}
#message-main2{
    display:none;
}
.title-header{
    font-size: 2em;
    text-align: center;
}
.header-576up{
    display: none;
}
.box-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    margin: 2em auto;
    justify-self: center;
}
.fa-bars {
    font-size:3em;
    position: fixed;
    top: 0.5em;
    left:0.5em;
    z-index: 1;
    cursor: pointer;
   
}
.box-lang-icon{
    position: fixed;
    top: 2em;
    right:2em;
   
}
.box-lang-icon span{
    font-size:0.8em;
    margin:0.1em;
}
#switch {
    font-size:2em;
}
.button-icon{
    font-size: 2em;
}

/*MAIN-SECTION*/
                /*MENU*/
.menu-main {
    display:flex;
     position: relative; 
   /*  position:absolute; */
    justify-content: space-evenly;
    align-items: center;
    width:90vw;
    
    margin: 0 auto;
    flex-wrap: wrap;
    transition: left 1s;
    left:0vw;
   
}
.button-menu--round h2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden; 
    border: 8px solid rgba(255, 255, 255,0.7);
    border-radius: 50%;
     min-width: 7.5rem;
     min-height: 7.5rem;
    font-size: 1.3rem;
    margin: 0.5em auto; 
    color: rgba(255, 255, 255,0.7);
    background-color: rgba(246, 66, 66,0.5);
    filter: grayscale(30%);
/*     position :relative; */
    top: 70px;
    left: 40vw;
    /* transition:background-color 2s min-width 2s, min-height 2s, border-width 2s, font-size 2s; */
}
.button-menu--round h2{
     transition:top 0.3s ease-in, left 0.3s ease-in, background-color 0.3s ease-in , min-width 0.8s, min-height 0.8s, border-width 0.3s, font-size 0.3s;

} 
#button-infos h2:hover{
    color: rgba(246, 66, 66,0.8);
    background-color: rgba(255, 255, 255,1);
    font-weight: 700;
    cursor: pointer;
}
#button-about h2:hover{
    color: rgba(246, 66, 66,0.8);
    background-color: rgba(255, 255, 255,1);
    font-weight: 700;
    cursor: pointer;
} 
#button-doc h2:hover{
    color: rgba(246, 66, 66,0.8);
    background-color: rgba(255, 255, 255,1);
    font-weight: 700;
    cursor: pointer;
} 
#button-contact h2:hover{
    color: rgba(246, 66, 66,0.8);
    background-color: rgba(255, 255, 255,1);
    font-weight: 700;
    cursor: pointer;
}  
.section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1em;
    line-height: 2em;
    padding-left:1em;
    padding-right: 1em;
    

}
.section-title-primary {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 1em;

}
.section-title-secondary{
text-align: center;
text-transform: uppercase;
letter-spacing: 0.5em;

padding-bottom: 1.5em;
border-bottom: 5px solid rgba(246, 66, 66,0.8);
border-radius: 0 0 30% 0;
width: 70%;
max-width: 200px;
margin: 2em auto 2em auto;
}
.section-title-third{
text-align: center;
text-transform: uppercase;
letter-spacing: 0.2em;
color: black;
padding:0;
/* border-top: 1px dotted rgba(246, 66, 66,0.8); */
/* border-bottom: 1px dotted rgba(246, 66, 66,0.8); */

width: 30vw;
max-width: 150px;
overflow: visible; 
margin: 2em auto 2em auto;
font-size: 0.8em;
}
#section-search{
    position: relative;
}
.search-bar{
    margin: 2em auto;
}
.search-bar input{
    position:initial;
    width: 80vw;
    max-width: 400px;
    height: 2.5em;
    margin: auto;
    text-align: center;
    border:none;
    border-radius: 10px;
}

/*FOOTER*/
.box-footer-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    margin: 4em auto;
    justify-self: center;
}  
.fa-facebook-f{
    color:rgba(255, 255, 255,0.7);
    font-size: 2em;
}

/*page_info - etapes importantes MENU*/

ul {
    list-style-type: none;
}
ul .fa-square{
    margin-right: 2em;
    color: rgba(246, 66, 66,0.8);
    font-size: 0.5em;
}

/*menu-ASIDE*/

#section-aside{
    display: flex;
    flex-direction: column;
    width: 100px;
   /*  background-color: transparent; */
   background-color:transparent;
    color: black;
    z-index:1000;
    position: fixed;
    top: 140px;
    left:-100px;
    transition: left 0.3s ease-in;
    border-radius: 0 0 0 0;
    
    
}
#button-menu-aside{
    position: relative;
    width: 120px;
    color:rgba(246, 66, 66,0.8);
    background-color:  transparent;
    text-align: end;
   /* transform: rotate(0deg);
     transition: transform 1s; */
     z-index: 800; 
}
/* #section-aside ul{
    list-style-type: none;
}
#section-aside li{
    margin: 0.5em;
} */

.button{
    width: 100px;
    height: 50px;
    cursor: pointer;
    z-index:800;
    border-style: none;
}
.button-menu-aside{
     background-color:rgba(246, 66, 66,0.8);
    /* background-color: rgba(255, 255, 255,0.5); */
    color: white;
   
}
.button-menu-aside:hover{
    background-color:rgba(255, 255, 255, 0.9);
    color: rgba(246, 66, 66,0.7);
    font-weight: 300;
}
.button-sousmenu-aside{
    background-color:rgba(255, 255, 255, 0.5);
    color: rgba(246, 66, 66,1);
    height: 25px;
    width: 100px;
    /* margin-left:20px; */
    font-size:0.6em;
    text-transform: uppercase;
    border-radius: 5px;
    border-color: rgba(246, 66, 66,0.4);
    text-align: right;

}
.button-sousmenu-aside:hover{
    margin-left:5px;
}
.sous-menu-aside{
    justify-content: flex-start;
    background-color:rgba(255, 255, 255, 0.9);;
    color: rgba(246, 66, 66,1);
}

.sous-menu-aside li {
    text-decoration: none;
    margin-top:0.1em;
}
.sous-menu-aside a:hover {
    color: rgba(246, 66, 66,0.6);
}
#mail-background > h1{
    background-color: white;
    color:rgba(246, 66, 66,0.8)
    }
#body-mail {
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    color:rgba(246, 66, 66,0.8)
}
.form-control, .custom-select{
    color: rgba(246, 66, 66,0.6);
    
    border : 3px solid rgba(246, 66, 66,0.6);
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: rgba(246, 66, 66,0.6);
}