html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

.hide {
    display:none;
}

#body-main {
    color: white;
    background-color: rgba(246, 66, 66,1);
    height:100vh;
}
/* HEADER */
header {
    color:white;
}
.title-header{
    font-size: 2em;
    text-align: center;
}
.box-icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60vw;
    margin: 2em auto;
    justify-self: center;
}
.fa-bars {
    font-size:3em;
    position: fixed;
    top: 0.5em;
    left:0.5em;
    z-index:1000;
   
}
.box-lang-icon{
    position: fixed;
    top: 2em;
    right:2em;
   
}
.box-lang-icon span{
    font-size:0.8em;
    margin:0.1em;
}
#switch {
    font-size:2em;
}
.button-icon{
    font-size: 2em;
}

/*MAIN-SECTION*/
                /*MENU*/
.menu-main {
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    width:90vw;
    margin: auto;
    flex-wrap: wrap;   
}
.button-menu--round h2{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden; 
    border: 8px solid rgba(255, 255, 255,0.7);
    border-radius: 50%;
     min-width: 7.5rem;
     min-height: 7.5rem;
    font-size: 1.3rem;
    margin: 0.5em auto; 
    color: rgba(255, 255, 255,0.7);
    background-color: rgba(246, 66, 66,0.5);
    filter: grayscale(30%);
}
.section {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1em;
    line-height: 2em;

}
.section-title-primary {
    font-size: 2em;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin: 1em;

}
.section-title-secondary{
text-align: center;
text-transform: uppercase;
letter-spacing: 0.5em;

padding-bottom: 2em;
border-bottom: 2px solid rgba(246, 66, 66,0.8);
border-radius: 0 0 50% 0;
width: 70%;
margin: 0.5em auto 2em auto;
}
.search-bar{
    margin: 2em auto;
}
.search-bar input{
    width: 80vw;
    height: 2.5em;
    margin: auto;
    text-align: center;
    border:none;
    border-radius: 10px;
}

/*FOOTER*/
.box-footer-icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90vw;
    margin: 4em auto;
    justify-self: center;
}  
.fa-facebook-f{
    color:rgba(255, 255, 255,0.7);
    font-size: 2em;
}

/*page_info - etapes importantes MENU*/

ul {
    list-style-type: none;
}
ul .fa-square{
    margin-right: 0.5em;
    color: rgba(246, 66, 66,0.8);
}

/*menu-ASIDE*/

#section-aside{
width: 60vw;
max-width: 400px;
background-color: rgba(255, 255, 255, 0.2);
color: black;
}
#section-aside ul{
    list-style-type: none;
}
#section-aside li{
    margin: 0.5em;
}
#button-menu-asbl {
    width: 50px;
}
.button{
    width: 50px;
    height: 30px;
    background-color: white;
    color:rgba(246, 66, 66,0.8);
}



